

<h2 id="create"> Create Tea with Science of TeaCreator</h2>
<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
</br>
</br>

<%= simple_form_for @order_tea do |f| %>
  <%= f.input :tealeaf, required: true %>
  </br>
  </br>
  <%= f.input :base_flavour, required: true %>
  </br>
  </br>
  <%= f.input :accent_flavour, required: true %>
  </br>
  </br>
  <%= f.input :create_name, required: true %>
  </br>
  </br>
  <%= f.button :submit %>



  <div id ="web2_button">
   <%= link_to "Back", root_path %>
  </div>
<% end %>
<div id ="recipes">
    <p>Scientists stand on the shoulders of giants.</br>Therefore, so should you!</br>Check out our recipes for inspiration!</p>
   </div>
    <div id ="advices">
  <%= link_to "Our Favourites" , advices_path %>
  </div>
</br>
</br>

