<div id="background"><%= image_tag("blackboard.jpg") %></div>



<h2 id="create"> CreateTEA</h2>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700' rel='stylesheet' type='text/css'>
</br>
</br>
<div id="tealogo"><%= image_tag("tealogo.png") %></div>

<%= simple_form_for @order_tea do |f| %>
  <%= f.input :tealeaf, required: true %>
  </br>
  </br>
  <%= f.input :base_flavour, required: true %>
  </br>
  </br>
  <%= f.input :accent_flavour, required: true %>
  </br>
  </br>
  <%= f.input :create_name, required: true %>
  </br>
  </br>
  <%= f.input :client_name, required: true %>
  </br>
  </br>
  <%= f.input :client_address, required: true %>
  </br>
  </br>
  <%= f.input :client_email,required: true %>
  </br>
  </br>
  <%= f.button :submit %>
  <h5> *All fields required to make an order </h5>
<% end %>

<div id ="recipes">

    <p>Science of Tea welcomes you to </br> the heart of where creation happens.</p>
     <p>Don't let curiosity fizzle to nothing!</br>
      fill out the CreateTEA form and </br> enjoy the joys of a good  cup of </br>tea!
      It's your time to create a </br>tea unique to your tastes! Below is </br> a list of what the lab has in stock</br> for you to experiment with!</p>
</div>

  <div id ="advices">
    <%= link_to "Lab Inventory " , advices_path %>
  </div>

  <div id ="web2_button">
    <%= link_to "IntroTEA", root_path%>
 </div>
   
   

