<body>

<h1> Discover the Laws of Tea</h1>

<div class="logo cycle-slideshow">
     <%= image_tag("InsideCards-01.jpg", :class => 'flying-image active-image') %>
     <%= image_tag("InsideCards-03.jpg", :class => 'flying-image active-image') %>
     <%= image_tag("InsideCards-05.jpg", :class => 'flying-image active-image') %>
     <%= image_tag("InsideCards-04.jpg", :class => 'flying-image active-image') %>
</div>

<div id= "create_button">
<%= link_to 'Create Tea', new_order_tea_path %>
</div>
<div id ="web_button">
<%= link_to 'Discover The Laws of Tea', new_order_tea_path %>
</div>



</body>
