<body>

<h1> Discover the Laws of Tea</h1>


<div id= "create_button">
<%= link_to 'CreateTEA', new_order_tea_path %>
</div>

<div id = "web_button">
<%= link_to 'WebSITE', "http://mdmgraphicdesign.com/ScienceOfTea/" %>
</div>

<div class="logo cycle-slideshow">
     <%= image_tag("Tea1.png", :class => 'flying-image active-image') %>
     <%= image_tag("Tea2.png", :class => 'flying-image active-image') %>
     <%= image_tag("Tea3.png", :class => 'flying-image active-image') %>

</div>





</body>
