<div id="background"><%= image_tag("blackboard.jpg") %></div>
<div id="tealogo"><%= image_tag("tealogo.png") %></div>

<h4 id="hi"> Equation For The Perfect Tea: </h4>
<div id ="perfect_tea">
    <p>TB + (H2O at 100 degrees centigrade) </br>2mins BT + C (10ml) 6mins BT = PC</br> (at OT 60 degrees centigrade)</p>
</div>
<div id ="newspaper">
    <%= link_to "Read On..." ,'http://www.dailymail.co.uk/sciencetech/article-2003784/Tea-Scientists-unveil-formula-perfect-brew.html' %>
  </div>

<div id="tealeaf_list">
<h3 id = "listtitles">Tea Leaves: </h3>
</br>
<ul>
  <li>Silver Needle White Tea</li>
  <li>Snow Geisha White Tea</li>
  <li>White Peony</li>
  <li>Golden Monkey Black Tea</li>
  <li>Cloud Mist Black Tea</li>
  <li>Fairy Mist Black Tea</li>
  <li>Jasmine Scented Green Tea</li>
  <li>Emperors Dragon Green Tea</li>
  <li>Genmaicha Green Tea </li>
  <li>Fairy Mist Black Tea</li>
  <li>Pu'erh Tea</li>
  <li>Rooibos Tea </li>
  <li>Oolong Tea</li>
  <li>Yerba Mate</li>
  <li>Hibiscus</li>
  <li>Rose Petals</li>
  <li>Chamomile Flowers</li>
  <li>Lavender</li>
</ul>
</div>

<div id="baseflavour_list">
<h3 id = "listtitles">Base Flavours:</h3>
</br>
<ul>
  <li>Java Chips</li>
  <li>Rose Petals</li>
  <li>Strawberries</li>
  <li>Lavender</li>
  <li>Cranberries</li>
  <li>Cherries</li>
  <li>Mandarins</li>
  <li>Mangoes</li>
  <li>Mint</li>
  <li>Hibiscus</li>
  <li>Pineapples</li>
  <li>Lemon</li>
  <li>Blueberries</li>
  <li>Currents</li>
  <li>Milk Chocolate Chips</li>
  <li>Dark Chocolate Chips</li>
  <li>Apple</li>
  <li>Vanilla</li>
  <li>Honey Dew </li>
  <li>Passionfruit</li>
  <li>Yerba Mate</li>

</ul>
</div>

<div id="accentflavour_list">
<h3 id = "listtitles">Accent Flavours:</h3>
</br>
<ul>
  <li>Java Chips</li>
  <li>Rose Petals</li>
  <li>Strawberries</li>
  <li>Lavender</li>
  <li>Cranberries</li>
  <li>Ginger</li>
  <li>Mandarins</li>
  <li>Mangoes</li>
  <li>Mint</li>
  <li>Peppercorns</li>
  <li>Pineapples</li>
  <li>Lemon</li>
  <li>Blueberries</li>
  <li>Silver/Gold Sugar Crystals</li>
  <li>Milk Chocolate Chips</li>
  <li>Dark Chocolate Chips</li>
  <li>Apple</li>
  <li>Vanilla</li>
  <li>Honey Dew </li>
  <li>Passionfruit</li>
  <li>Red Hot Chili Peppers</li>

</ul>
</div>


<div id ="web2_button">
    <%= link_to "IntroTEA", root_path%>
 </div>

<div id= "create2_button">
<%= link_to 'CreateTEA', new_order_tea_path %>
</div>

